@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "LiberationSerif";
    src: url('typo/LiberationSerif.ttf');
}

@font-face {
    font-family: "LiberationSans";
    src: url('typo/LiberationSans-Regular.ttf');
}

@font-face {
    font-family: "LiberationSans-Italic";
    src: url('typo/LiberationSans-Italic.ttf');
}

@font-face {
    font-family: "LiberationSans-Bold";
    src: url('typo/LiberationSans-Bold.ttf');
}

@font-face {
    font-family: "LiberationSerif-Italic";
    src: url('typo/LiberationSerif-Italic.ttf');
}

body{
	padding: 0;
	position: fixed;
    margin: 0;
}



.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
margin: 20px;
	padding-top: 0.8%;
	
	
}



.zero{
	grid-column: 1;
  	grid-row: 1/2;
	border: 2px solid white;
	display: block;
	overflow-y:scroll;
	padding: 1em;
	max-height: 5em;
	
}

.one {
  	grid-column: 1;
  	grid-row: 2/8;
	border: 2px solid white;
	display: block;
	overflow-y:scroll;
	padding: 1em;
	max-height: 34em;
	padding-right: 5em;
	
}
.two { 
  	grid-column: 2;
  	grid-row: 1 / 8;
	border: 2px solid white;
	display: block;
	overflow-y:scroll;
	max-height: 12em;
	padding: 1em;
}

.milieu{
	grid-column: 2;
  	grid-row: 3;
	display: block;
	overflow-y:scroll;
	border: 2px solid #ff3712;
	padding: 1em;
	max-height: 5em;
	font-size: 25px;
	color:#ff3712;
	font-family:"LiberationSerif-Italic";
	
}

.three {
 	grid-column: 2;
 	grid-row: 4;
	border: 2px solid white;
	display: block;
	overflow-y:scroll;
	max-height: 4em;
	padding: 1em;
	
}
.four {
  	grid-column: 3/8;
  	grid-row: 1/8;
	border: 2px solid white;
	display: block;
	overflow-y:scroll;
	max-height: 28em;
	overflow-x: hidden;
	
}
.five {
  	grid-column: 2/8;
  	grid-row: 5;
	border: 2px solid white;
	display: block;
	overflow-x:scroll;
	max-height: 238px;
	overflow-y: hidden;
	
}


.corpus{
	width: 100%;
}

.chrono{
	height: 250px;
}

